<!-- About Section Code -->

<section class="about" id="about">
  <div class="about-img">
    <img [src]="'assets/images/hamza.png'" alt="image about">

  </div>

  <div class="about-content">
      <h2 class="heading">About <span>Me</span></h2>
      <h3>I'm a <span>🌐 Full-Stack Developer | Spring Boot & Angular</span></h3>
      <p style="font-size: 20px;">
        Hamza Ziani is a skilled full-stack developer with expertise in Angular and Spring Boot, known for building dynamic, high-performance web applications and delivering seamless user experiences.
      </p>
      <a href="#" class="btn">Linkdin</a>
  </div>

</section>
<!-- End About Section Code -->
