<!-- Education Section -->

<section id="education" class="education">
  <h2 class="heading">Education</h2>
  <div class="timeline-items">
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2018</div>
      <div class="timeline-content">
        <h3>Baccalauréat en Sciences de la Vie et de la Terre</h3>
        <p>
          The Baccalauréat en Sciences de la Vie et de la Terre (often
          abbreviated as SVT) is a specialized high school diploma focusing on
          the study of biological and geological sciences. This program is
          typically aimed at students who are interested in pursuing careers in
          the life sciences, environmental science, or related fields.
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2019-2021</div>
      <div class="timeline-content">
        <h3>Diplôme Spécialisé en Développement Informatique</h3>
        <p>
          The Diplôme Spécialisé en Développement Informatique is a specialized
          diploma focusing on advanced skills and knowledge in computer
          development. This program is designed for individuals who want to gain
          expertise in software development and programming.
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2022-2023</div>
      <div class="timeline-content">
        <h3>
          Internship in Full Stack Developer Position at My Team Solutions
        </h3>
        <p>
          An internship in Full Stack Development at My Team Solutions provides hands-on experience in both front-end and back-end development. This role is designed for individuals looking to gain practical skills and insights into the full spectrum of web application development using Angular for front-end development and Node.js for back-end development.
        </p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2024-2025</div>
      <div class="timeline-content">
        <h3>Job in Full Stack Developer Position at Veviosys</h3>
        <p>
          Mémoire mise à jour Here's an updated job description incorporating
          the specific details about working with Spring Boot and Angular: Full
          Stack Developer Position at Veviosys Description: A Full Stack
          Developer at Veviosys is responsible for designing, developing, and
          maintaining web applications across the entire stack. This role
          involves working on both front-end and back-end development to create
          seamless, user-friendly applications. You will leverage Spring Boot
          for backend development and Angular for frontend development to build
          and enhance applications.
        </p>
      </div>
    </div>
  </div>
</section>
