

<div id="contact">
  <div class="footer">
      <div class="main">
          <div class="col">
              <h4>Menu Links</h4>
              <ul>
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/skills']">skills</a></li>
                <li><a [routerLink]="['/services']">Services</a></li>
                <li><a [routerLink]="['/projects']">Projects</a></li>
                <li><a [routerLink]="['/contact']">Contact</a></li>
              </ul>
          </div>

          <div class="col">
              <h4>Our Services</h4>
              <ul>

                  <li><a [routerLink]="['/services']">Services</a></li>
                  <li><a [routerLink]="['/projects']">Projects</a></li>

              </ul>
          </div>

          <div class="col">
              <h4>Information</h4>
              <ul>
                  <li><a [routerLink]="['/about']">About Us</a></li>
                  <li><a [routerLink]="['/informations']"> Informations</a></li>

              </ul>
          </div>

          <div class="col">
              <h4>Contact Us</h4>
              <div class="social">
                  <a href="https://www.linkedin.com/in/hamza-ziani-b74197231/"><i class="bx bxl-linkedin"></i></a>
                  <a href="https://www.instagram.com/hamza.ziani.dev"><i class="bx bxl-instagram"></i></a>
                  <a href="https://github.com/Hamza-Ziani-Dev"><i class="bx bxl-github"></i></a>
                  <a href="https://wa.me/+2120665054678" target="_blank"><i class="bx bxl-whatsapp"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/hamza-ziani-b74197231/"><i class="bx bxl-linkedin"></i></a>
              </div>
          </div>

      </div>
  </div>
</div>

