<!-- Header Section -->
<header>
  <a href="#home" class="logo">
    <!-- SVG logo -->
    <svg width="40" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 0L0 12L12 24L24 12L12 0ZM12 4.5L20.5 12L12 19.5L3.5 12L12 4.5ZM12 6.5L4.5 12L12 17.5L19.5 12L12 6.5ZM12 9.5L16.5 12L12 14.5L7.5 12L12 9.5Z" fill="#6DB33F"/>
    </svg>
    Hamza Ziani
  </a>


  <div class="bx bx-menu" id="menu-icon"></div>

  <ul class="navbar">
      <li><a [routerLink]="'/'">Home</a> </li>
      <li><a [routerLink]="'/about'">About</a></li>
      <li><a [routerLink]="'/projects'">Projects</a></li>
      <li><a [routerLink]="'/skills'">Soft Skills</a></li>
      <li><a [routerLink]="'/formations'">Formations</a></li>
      <li><a [routerLink]="'/services'">Services</a></li>
      <li><a [routerLink]="'/contact'">Contact</a></li>
  </ul>

  <div class="top-btn">
      <a [routerLink]="'/contact'" class="nav-btn">Contact Me</a>
  </div>

</header>
<!-- End Header Section -->
