<!-- Services Section Code -->

<section class="services" id="services">
  <h2 class="heading">My <span>Services</span></h2>

  <div class="services-container">
      <div class="services-box">
          <i class="bx bxl-angular"></i>

          <h3>Front-End Development</h3>
          <p>
            Creating User-Friendly Interfaces: I develop responsive and engaging interfaces using angular.js, ensuring a seamless user experience across all devices.
          </p>
          <a href="#" class="btn">Read More</a>
      </div>

      <div class="services-box">
        <i class="bx bxl-spring-boot"></i>

          <h3>Back-End Development</h3>
          <p>
            Building Robust Applications: I build reliable server-side applications with Spring Boot and Express.js, and manage databases efficiently using MongoDB and SQL.
          </p>

          <a href="#" class="btn">Read More</a>
      </div>

      <div class="services-box">
          <i class="bx bx-code-alt"></i>
          <h3>Full-Stack Integration</h3>
          <p>
            Delivering End-to-End Solutions: I integrate front-end and back-end technologies to ensure smooth and secure communication, delivering comprehensive solutions.
          </p>

          <a href="#" class="btn">Read More</a>
      </div>

  </div>
</section>
