<!-- skill Section -->
<section id="skills" class="skill">
  <div class="skill-content">
    <div class="skill-box">
      <span class="title">HTML</span>
      <div class="skill-bar">
        <span class="skill-per html">
          <span class="tooltip">100%</span>
        </span>
      </div>
    </div>

    <div class="skill-box">
      <span class="title">CSS</span>
      <div class="skill-bar">
        <span class="skill-per css">
          <span class="tooltip">70%</span>
        </span>
      </div>
    </div>

    <div class="skill-box">
      <span class="title">JavaScript</span>
      <div class="skill-bar">
        <span class="skill-per javascript">
          <span class="tooltip">70%</span>
        </span>
      </div>
    </div>

    <div class="skill-box">
      <span class="title">React JS</span>
      <div class="skill-bar">
        <span class="skill-per reactjs">
          <span class="tooltip">50%</span>
        </span>
      </div>
    </div>

    <div class="skill-box">
      <span class="title">Angular JS</span>
      <div class="skill-bar">
        <span class="skill-per angularjs">
          <span class="tooltip">90%</span>
        </span>
      </div>
    </div>

    <div class="skill-box">
      <span class="title">Spring Boot</span>
      <div class="skill-bar">
        <span class="skill-per springboot">
          <span class="tooltip">60%</span>
        </span>
      </div>
    </div>

    <div class="skill-box">
      <span class="title">Node JS</span>
      <div class="skill-bar">
        <span class="skill-per nodejs">
          <span class="tooltip">60%</span>
        </span>
      </div>
    </div>
  </div>

  <div class="skill-img">
    <img src="assets/images/hamza1.png" alt="About Image">
  </div>
</section>
